.register-container{

    min-height: 100vh;

    display: flex;

    justify-content: flex-end;

    align-items: center;

    background-image: url("../assets/login-bg.png");

    background-size: cover;

    background-position: center;

    padding: 20px;
}

.register-card{

    width: 450px;

    background: rgba(255,255,255,0.92);

    backdrop-filter: blur(10px);

    border-radius: 30px;

    padding: 50px 40px;

    display: flex;

    flex-direction: column;

    gap: 22px;

    box-shadow: 0 10px 40px rgba(0,0,0,0.35);
}

.register-card h1{

    font-size: 58px;

    text-align: center;

    color: #10235c;

    font-weight: bold;
}

.register-card p{

    text-align: center;

    color: #66d81f;

    font-size: 22px;

    margin-bottom: 10px;
}

.register-card input{

    padding: 18px;

    border: none;

    border-radius: 16px;

    background: #f1f1f1;

    font-size: 18px;

    outline: none;
}

.register-card button{

    background: #7dff2b;

    color: #07153b;

    border: none;

    padding: 18px;

    border-radius: 18px;

    font-size: 22px;

    font-weight: bold;

    cursor: pointer;

    transition: 0.3s;
}

.register-card button:hover{

    transform: scale(1.03);

    background: #6deb20;
}

.register-card span{

    text-align: center;

    color: #66d81f;

    cursor: pointer;

    font-size: 20px;
}